form {
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 363px;
    height: 351px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;

}
form label{
    display: flex;
    flex-direction: column;
    color:#212529;
    font-size: 12px;
    padding:0px 15px;
    font-weight: 400;

    font-family: 'Inter', sans-serif;
}
form div {
    display: flex;
    justify-content: space-between;
    padding: 0px;

}
form input {
    height: 52.8px;
    background-color:#F8F9FA ;
    border: 0ch;
    border-radius: 8px;
    width: 314px;
    color:#868E96;
    margin: 10px 0px;
   
}

form div input {
    height: 48px;
    width:128px;
}

form div select{
    width:150px;
    height:48px;
    background-color:#F8F9FA ;
    border: 0ch;
    border-radius: 8px;
    color:#868E96;
    margin: 10px 0px;

}
form p{
    color:#868E96;
    margin-top: -8px;
}
form button {
    border: 0ch;
    border-radius: 8px;
    height:48px;
    width:314px;
    background-color: #FD377E;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
form .button{
    display: flex;
    justify-content: center;
}
